/* Estilo general */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Animaciones */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilo del contenedor del loader */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);  
  z-index: 9999;  
  flex-direction: column;
}

.loading-logo {
  width: 100px;  
  height: auto;
  margin-bottom: 15px;
  animation: spin 2s infinite linear;  
}

.loading-container p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

#welcome-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.3); /* Sombra intensa */
  text-align: center;
  position: relative;
  background: linear-gradient(145deg, #ffffff, #f9f9f9);
  opacity: 0;
  transform: rotateY(90deg) translateZ(-500px); /* Empieza fuera de la vista, girado */
  animation: fadeInUp 1s ease-out forwards; /* Animación de entrada */
}

/* Estilo para la descripción del negocio */
.business-description {
  font-size: 1.1em; /* Tamaño de texto adecuado */
  color: #34495e; /* Color de texto que contraste bien con el fondo */
  margin-bottom: 20px; /* Espaciado inferior para que no se junte con el siguiente contenido */
  text-align: center; /* Centrar la descripción */
  line-height: 1.5; /* Mejor legibilidad */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para el texto */
}


/* Animación de entrada con giro desde atrás hacia adelante */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: rotateY(90deg) translateZ(-500px); /* Empieza hacia atrás y desplazado */
  }
  100% {
      opacity: 1;
      transform: rotateY(0) translateZ(0); /* Termina en la posición normal */
  }
}

h1, p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #4f5d75;
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra mucho más marcada para los textos */
}

h1 {
    font-size: 2.5em;
    color: #2c3e50;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); /* Sombra mucho más intensa para el título */
}

p {
    font-size: 1.2em;
}

/* Estilos para los botones */
.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.welcome-button {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #001bb7;
    border-radius: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 15px 30px rgb(0, 0, 0); /* Sombra fuerte para los botones */
    font-weight: bold;
    position: relative;
}

.welcome-button:hover {
    background-color: #000000;
    transform: translateY(-6px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5); /* Sombra más profunda y difusa al hacer hover */
}

.welcome-button:active {
    transform: translateY(3px); /* Efecto de presión al hacer clic */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

/* Descripción de los botones */
.button-description {
    margin-top: 40px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 12px;
    font-size: 1.05em;
    color: #616161;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra más intensa en la descripción */
}

.button-description strong {
    color: #f39c12;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  #welcome-container {
      max-width: 85%; /* Reducir el ancho del contenedor en dispositivos móviles */
  }

  h1 {
      font-size: 1.6em !important; /* Reducir el tamaño del título en dispositivos pequeños */
  }

  p {
      font-size: 0.9em !important;
  }

  .button-container {
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }

  .welcome-button {
      width: 90%;
      padding: 12px;
      font-size: 1em;
  }

  .button-description {
      font-size: 0.85em !important;
      padding: 15px;
  }

  .button-description p {
      font-size: 0.9em !important;
  }

  .button-description strong {
      font-size: 1em !important;
  }

  .admin-button {
      font-size: 1.2em;
      padding: 10px 20px;
  }
}

/* Estilos generales para las redes sociales */
.social-media {
  text-align: center;
  margin-top: 2rem;
}

.social-icon {
  display: inline-block;
  margin: 0 1rem;
  font-size: 2rem;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Efecto hover para cambiar color */
.social-icon:hover {
  color: #4a90e2; /* Color de cambio al pasar el ratón */
  transform: scale(1.1); /* Aumenta el tamaño del icono ligeramente */
}

/* Colores específicos para cada red social */
.instagram {
  color: #E1306C;
}

.instagram:hover {
  color: #C13584; /* Cambio de color en hover */
}

.facebook {
  color: #3b5998;
}

.facebook:hover {
  color: #1d3557; /* Cambio de color en hover */
}

/* Asegura que en dispositivos móviles los íconos se vean bien centrados */
@media (max-width: 768px) {
  .social-icon {
      font-size: 1.8rem; /* Reducir tamaño en dispositivos móviles */
  }
}

  
  
/* Estilo de la sección del menú */
.menu-section {
  width: 100%;
  padding: 60px 30px;
  background: linear-gradient(135deg, #ffffff, #0008ea);
  border-bottom: 4px solid #000000; /* Línea de color en lugar de la sombra */
  box-sizing: border-box;
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 0;
  max-width: 1200px; /* Máximo ancho para pantallas grandes */
  margin-left: auto;
  margin-right: auto; /* Centrar en pantallas grandes */
}

/* Estilo para el título dentro de .menu-section */
.menu-section h2 {
  font-size: 2.5rem;
  color: #000000 !important;
  margin: 0;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.903);
}

/* Contenedor de partículas (fondo dinámico) */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Contenedor del filtro */
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap; /* Mejorar adaptabilidad */
}

/* Estilo para el input de búsqueda */
.search-box {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  border: 2px solid #ccc;
  width: 250px;
  transition: all 0.3s ease;
}

/* Estilo para el select del filtro */
.category-filter {
  padding: 10px;
  font-size: 1rem;
  border-radius: 25px;
  border: 2px solid #ccc;
  background-color: rgb(255, 255, 255);
  width: 220px;
  transition: all 0.3s ease;
}

/* Efectos de enfoque */
.search-box:focus, .category-filter:focus {
  outline: none;
  border-color: #6c5ce7;
  box-shadow: 0 0 10px rgba(108, 92, 237, 0.5);
}

/* Animación para las categorías */
.category-filter, .search-box {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-box:hover, .category-filter:hover {
  border-color: #6c5ce7;
}

/* Estilo para el contenedor principal de la sección del menú */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
  .menu-section h2 {
    font-size: 1.8rem; /* Tamaño más pequeño para dispositivos móviles */
  }

  .search-box, .category-filter {
    width: 200px; /* Reducción del tamaño para pantallas pequeñas */
  }

  .filter-container {
    flex-direction: column; /* Cambio de dirección en pantallas pequeñas */
    gap: 15px;
  }
  
  .container {
    padding: 15px;
  }
}

   
/* Contenedor principal de los items del menú */
.menu-item {
  background-color: #fff;
  border: 3px solid #6c5ce7;  /* Línea morada alrededor del contenedor */
  box-shadow: 0 4px 12px rgb(0, 0, 0);  
  border-radius: 10px;
  margin: 15px;  /* Aumentado el margen para dar más espacio entre los contenedores */
  padding: 15px;
  width: calc(50% - 30px);  /* Ajustado para tener más espacio entre los items */
  max-width: 300px; /* Establecer un ancho máximo para evitar que los contenedores se alarguen demasiado */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 1;  /* Mantener el contenedor cuadrado */
  position: relative;
  font-family: 'Roboto', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Añadido para suavizar el hover */
}

/* Efecto hover en el contenedor del item */
.menu-item:hover {
  transform: translateY(-5px);
  background-color: #f9f9f9;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);  /* Efecto de sombra más suave */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .menu-item {
    width: 100%;  /* En pantallas pequeñas, los items ocupan el 100% */
    max-width: none;  /* Remover el límite de ancho máximo */
    margin: 10px 0;  /* Aumentado el margen en móviles para separar los items */
  }
}



  
  /* Imagen dentro del item del menú */
  .menu-item img {
    width: 100%;       /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%;      /* Asegura que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* La imagen se ajusta al contenedor sin distorsionar, pero puede recortarse */
    border-radius: 10px;
    margin-bottom: 5px;  /* Reducir el margen inferior */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Efecto de hover en la imagen */
  .menu-item:hover img {
    transform: scale(1.05);  
  }
  
  /* Estilo para el nombre del plato */
  .menu-item h5 {
    margin-bottom: 3px; /* Reducir aún más el espacio entre el nombre y el precio */
    font-size: 1.2rem;  /* Ajusta el tamaño del texto si es necesario */
    font-weight: bold;
  }
  
  /* Estilo para el precio del plato */
  .menu-item p {
    margin-bottom: 3px; /* Reducir aún más el espacio entre el precio y el botón */
    font-size: 1rem;    /* Ajusta el tamaño del texto si es necesario */
    color: #555;
  }
  
  /* Estilo para los botones */
  .menu-item button {
    margin-top: 5px;  /* Reducir el espacio entre el precio y el botón */
    padding: 8px 16px;  /* Ajustar el padding del botón para que no sea tan grande */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-item button:hover {
    background-color: #0056b3;
  }
  
  /* Asegurar que los contenedores se ajusten bien en pantallas grandes */
  @media screen and (min-width: 1024px) {
    /* Ajuste del ancho de cada contenedor y margen entre columnas */
    .menu-item {
      width: calc(33.33% - 60px);  /* Reducir el tamaño para permitir más separación */
      margin: 10px 30px;  /* Separar los items con 30px de margen horizontal */
    }
    
    /* Contenedor principal para los elementos de menú */
    .menu-container {
      display: flex;
      flex-wrap: wrap;   /* Para permitir el salto de línea y la alineación adecuada */
      justify-content: space-between;  /* Espacio uniforme entre columnas */
      gap: 50px 50px;   /* Aumentar el espacio entre las columnas */
    }
  }
  
  
  
  
  
   
  /* Título del item del menú */
  .menu-item h3 {
    margin: 10px 0;
    font-size: 12px;
    color: #000;
    transition: color 0.3s ease-in-out;
    font-weight: 600;  
  }
  
  /* Efecto de hover en el título */
  .menu-item:hover h3 {
    color: #4e73df;  
  }
  
  /* Descripción o precio del item */
  .menu-item p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #00800b;
    font-weight: bold;  
  }
   
  
  /* Estilo para el botón dentro del item */
  .menu-item button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: #1a73e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efecto hover en el botón */
  .menu-item button:hover {
    background-color: #174ea6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
   
  @media (max-width: 768px) {
    /* Eliminar efecto hover en el contenedor de los platos */
    .menu-item:hover {
      transform: none;  
      background-color: #fff;  
      box-shadow: 0 4px 12px rgba(0, 0, 255, 0.7);  
    }
  
    /* Eliminar efecto hover en las imágenes */
    .menu-item:hover img {
      transform: scale(1);  
    }
  
    /* Eliminar efecto hover en el título */
    .menu-item:hover h3 {
      color: #000;  
    }
    
    /* Eliminar efecto hover en los botones */
    .menu-item button:hover {
      background-color: #28a745;  
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
      transform: none;  
    }
  }
    
  /* Estilo del contenedor de la cantidad */
  .quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;  
  }
  
  .quantity-container span {
    font-size: 0.9rem;  
    color: #333;
    margin-right: 6px;  
    font-weight: 600;
  }
  
  .quantity-input {
    width: 35px;  
    padding: 3px;  
    border-radius: 5px;
    border: 1px solid #ff9900;
    text-align: center;
    font-size: 0.9rem;  
  }
  
  .quantity-input:focus {
    border-color: #ff6600;
  }
   
  /* Botón con fondo verde */
  .menu-item button:nth-of-type(1) {
    background-color: #28a745;  
    color: #fff;
  }
  
  .menu-item button:nth-of-type(1):hover {
    background-color: #218838;  
  }
  
  /* Media query para pantallas más pequeñas (móviles) */
  @media (max-width: 480px) {
     
    .menu-item button {
      font-size: 10px;  
      padding: 8px;  
    }
  
    #search, #category-filter-select {
      width: 90%;
      font-size: 16px;
    }
  }
  
  /* Estilos para el botón "Leer más" */
  .read-more-button {
    background-color: #007bff;  
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;  
    transition: background-color 0.3s ease;
  }
  
  .read-more-button:hover {
    background-color: #0056b3;  
  }
  
   
  /* Título del menú */
  .menu-section h2 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;  
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8);  
    animation: fadeInTitle 1s ease-out, floatEffect 3s infinite alternate;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  }
  
  /* Animación de desvanecimiento y movimiento suave para el título */
  @keyframes fadeInTitle {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Efecto de flotación constante (mueve el título arriba y abajo) */
  @keyframes floatEffect {
    0% {
        transform: translateY(0);  
    }
    50% {
        transform: translateY(-10px);  
    }
    100% {
        transform: translateY(0);  
    }
  }
  
  
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        gap: 15px;
    }
  
    #search, #category-filter-select {
        width: 80%;
        font-size: 16px;
        padding: 12px 15px;
    }
  }
  
  /* Media query para pantallas más pequeñas (móviles) */
  @media (max-width: 480px) {
    .menu-section {
        padding: 20px;
    }
  
    #search, #category-filter-select {
        width: 90%;
        font-size: 16px;
    }
  }
  
  @media screen and (min-width: 769px) {
    .menu-item {
        width: calc(33.33% - 20px);
    }
  
    .menu-item button {
        padding: 10px;
        font-size: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px);
    }
  }
  
  /* Reset básico para márgenes y padding */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   
  
  /* Estilos para el modal */
  .modal {
    display: none;  
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);  
    padding-top: 60px;
    z-index: 1050;   
  }
  
   
  header {
    z-index: 1;   
  }
  
  /* Fondo oscuro detrás del modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);   
    z-index: 1040;   
  }
  
  
  .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    overflow: hidden;  
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .modal h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: black;  
    margin-bottom: 10px;  
  }
  
  .modal p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;  
  }
  
  .order-button {
    background-color: #28a745;  
    color: white;
    font-size: 1rem;
    font-weight: bold;  
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;  
    transition: background-color 0.3s ease;
  }
  
  .order-button:hover {
    background-color: #218838;  
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .modal-content {
        padding: 15px;  
        width: 90%;  
    }
  
    .order-button {
        padding: 8px 16px;  
        font-size: 0.9rem;  
        margin-top: 10px;  
    }
  
    .modal img {
        max-width: 250px;  
    }
  
    .modal h3 {
        font-size: 1.3rem;  
    }
  
    .modal p {
        font-size: 1rem;  
    }
  }

  
/* Botón flotante que abre el chat */
.chat-btn {
  position: fixed;
  bottom: 20px;  
  right: 20px;  
  width: 50px;  
  height: 50px;  
  background-color: #007acc;
  border-radius: 50%;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Imagen del ícono dentro del botón */
.chat-btn img {
  width: 100%;  
  height: 100%;
  object-fit: cover;   
  border-radius: 50%;  
  transition: transform 0.3s ease;
}

/* Efecto hover para el botón flotante */
.chat-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
